.about-inteko__container {
	background: $main-background;
	position: relative;
	padding-top: 35px;
	padding-bottom: 20px;

	@media (min-width: $width-desktop+px) {
		padding-top: 39px;
		padding-bottom: 90px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 373px;
		left: 0;
		width: 25px;
		height: calc(100% - 373px);
		background: transparent;
		border-top: 2px solid $decor-color;
		border-right: 2px solid $decor-color;

		@media (min-width: $width-desktop+px) {
			top: 246px;
			width: calc(300 / 1800 * 100vw);
			height: calc(100% - 246px);
		}
	}

	&::after {
		content: "";
		position: absolute;
		width: calc(100% - 25px);
		bottom: 0;
		left: 25px;
		height: 2px;
		background: $decor-color;

		@media (min-width: $width-desktop+px) {
			left: calc(300 / 1800 * 100vw);
			width: calc(100% - calc(300 / 1800 * 100vw));
		}
	}
}

.about-inteko__top-text-block {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 24px 1fr;
	grid-template-columns: 1fr 1fr;
	-moz-column-gap: 24px;
	column-gap: 24px;
	// align-items: center;
	position: relative;
	z-index: 5;
	padding-left: 19px;
	padding-right: 21px;
	margin-bottom: 45px;

	@media (min-width: $width-tablet+px) {
		display: -ms-grid;
		grid-template-columns: 2fr 1fr 1fr;
		-ms-grid-columns: 2fr 1fr 1fr;
	}

	@media (min-width: $width-desktop+px) {
		display: -ms-grid;
		grid-template-columns: 517px 1fr 1fr;
		-ms-grid-columns: 517px 67px 1fr 67px 1fr;
		-moz-column-gap: 67px;
		column-gap: 67px;
		margin-bottom: 88px;
		padding: 0 60px;
	}
}

.about-inteko__title {
	margin-bottom: 14px;
	grid-column: 1/-1;
	-ms-grid-column-span: 3;

	@media (min-width: $width-desktop+px) {
		letter-spacing: -1.2px;
		margin-bottom: 20px;
		-ms-grid-column-span: 4;
	}
}

.about-inteko__sub-title {
	grid-row: 2/4;
	max-width: 495px;
	display: block;
	align-self: start;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;

	@media (min-width: $width-desktop+px) {
		grid-row: initial;
		-ms-grid-row: 2;
	}
}

.about-inteko__stats {
	font-size: 12px;
	line-height: 1.5;
	text-transform: uppercase;

	@media (min-width: $width-desktop+px) {
		font-size: 16px;
	}

	span {
		margin-bottom: 7px;
		font-size: 36px;
		display: inline-block;
		line-height: 30px;
		font-weight: 700;

		@media (min-width: $width-desktop+px) {
			font-size: 48px;
			line-height: 48px;
			margin-top: -5px;
			margin-bottom: 5px;
		}
	}

	small {
		text-transform: none;
		font-size: 13px;

		@media (min-width: $width-tablet+px) {
			br {
				display: none;
			}
		}
		@media (min-width: $width-desktop+px) {
			font-size: 16px;
		}
	}
}

.about-inteko__stats--people {
	margin-bottom: 10px;
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	@media (min-width: $width-desktop+px) {
		margin: 0;
		-ms-grid-column: 3;
		-ms-grid-row: 2;
	}
}

.about-inteko__stats--metrs {
	padding-right: 8px;
	-ms-grid-column: 3;
	-ms-grid-row: 3;

	@media (min-width: $width-desktop+px) {
		padding-right: 0;
		-ms-grid-column: 5;
		-ms-grid-row: 2;
	}
}

.about-inteko__course-list {
	padding: 26px 35px 26px 38px;
	max-width: 280px;
	background: $color_white;

	li {
		&:not(:last-child) {
			margin-bottom: 8px;
		}

		@media (min-width: $width-desktop+px) {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $width-desktop+px) {
		padding: 63px 35px 61px 85px;
		max-width: 470px;
	}
}

.about-inteko__img-wparper {
	position: relative;
	z-index: 0;
	margin-left: 20px;
	margin-top: -30px;
	width: 280px;
	height: 174px;

	@media (min-width: $width-mobile+px) {
		margin: -30px auto 0;
	}

	@media (min-width: $width-desktop+px) {
		margin: 0;
		position: absolute;
		right: 0;
		top: 266px;
		width: 920px;
		height: 570px;
	}
}

.about-inteko__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;

	@media (min-width: $width-desktop+px) {
	}
}
