.site-list {
  position: relative;
  z-index: 5;
}

.site-list__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;

    @media (min-width: $width-desktop+px) {
      margin-bottom: 10px;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: -17px;
    height: 1px;
    width: 10px;
    background: $main-color;

    @media (min-width: $width-desktop+px) {
      width: 16px;
      top: 11px;
      left: -24px;
      height: 2px;
    }
  }
}
